.container {
    width: 28rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 2rem;
    
    background: white;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
}

h1 {
    color: #16a085;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    gap: 2rem;
}

button {
    width: 10rem;
    padding: 1rem;
    margin-top: 1rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(22, 160, 133, 0.3);
    transition: all 0.3s ease;
}

.registerButton {
    background: #16a085;
    color: white;
}

.manageButton {
    background: white;
    color: #16a085;
}

button:hover {
    transform: translateY(-2px);
}

button:active {
    transform: translateY(0);
}